*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Quicksand', sans-serif;
}

/* HEADER */
.header{
    height: 100px;
    background: none;
    padding: 0 20px;
    text-transform: uppercase;
    max-width: 1200px;
    margin: auto;
  }
  
  .logo{
      line-height: 100px;
      float: left;
      color: #fff;
  }
  
  .menu{
      float: right;
      line-height: 100px;
  }
  
  .menu a{
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 0 10px;
      transition: 500ms;
  }
  
  .show-menu-btn, .hide-menu-btn{
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
  }
  
  .show-menu-btn{
      float: right;
      color: #fff;
    }
  
  .show-menu-btn i{
      line-height: 100px;
}
  
  .menu a:hover,
  .hide-menu-btn:hover,
  .show-menu-btn:hover{
      color: #8b8b8b;
}
  
  #chk{
      position: absolute;
      z-index: -1;
      visibility: hidden;
}

main{
    max-width: 1250px;
    margin: auto;
}

.welcome{
    
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    background-blend-mode: darken; 
    background-color: #00000086;
    -webkit-animation: backgorund 29s ease infinite;
    -moz-animation: backgorund 29s ease infinite;
    animation: backgorund 29s ease infinite;
    background: linear-gradient(208deg, #e6c46e, #f97c35, #ff4c2f);
    background-size: 600% 600%;
}

@-webkit-keyframes backgorund {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backgorund {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes backgorund { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.text-on-welcome h1{
    font-size: 3.5em;
}

.text-on-welcome p{
    font-size: 1em;
    font-weight: 200;
    line-height: 30px;
}

.text-on-welcome h1, .text-on-welcome p{
    padding: 20px;
    color: #fff;
}

.text-on-welcome{
    max-width: 650px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 42%;
    transform: translateY(-50%);
}

.about-before{
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-before{
    color: #15264F;
    min-height: 40vh;
    position: relative;
    transform: translateY(30%)
}

.about-before h1::before{
    content: '';
    width: calc(10em + 1vw);
    height: calc(40px + 1vh);
    background: #ABFDD0;
    z-index: -1;
    position: absolute;
    top: -20px;
}

.about-before p, .about-before h1{
    max-width: 550px;
}

.about-before p{
    text-align: left;
}

.text-projects{
    max-width: 450px;
    color: #15264F;
}

.text-projects h1{
    padding: 30px 0;
    font-size: 3.5rem;
}

.text-projects::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    margin-top: 110px;
    background: #FBD284;
}

.projects{
    display: flex;
    align-items: center;
}

.show-arrow i{
    margin: 30px;
    transition: 200ms;
    font-size: 1.3rem;
}

.show-arrow{
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: #15264F;
}

.show-arrow i:hover{
    transform: translateX(30%);
}

.work{
    width: 300px;
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px;
    transition: 0.4s;
}

.work:hover{
    transform: scale(1.2);
    background: #00000098;
}

.work1{
    background-image: url('service2.jpg');
}

.work2{
    background-image: url('service3.jpg');
}

.grid-about, .grid-about2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-of-me, .studio-image{
    width: 33vh;
    height: 45vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-of-me, .studio-image{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: inherit;
    box-sizing: border-box;
    display: block;
}

.image-of-me{
    right: 100px;
}

.studio-image{
    left: 23em;
}

.first-container, .second-container{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.second-container::before{
    background: #A5BBF4;
    width: 100vw;
    height: calc(100vh - 5em);
    z-index: -1;
    margin-bottom: 250px;
    content: '';
    display: block;
    overflow: hidden;
    left: 0;
    position: absolute;
}

.first-container::before{
    background: #F4A5AA;
    width: 100vw;
    height: calc(100vh - 5em);
    right: 0;
    margin-bottom: 250px;
    content: '';
    display: block;
    position: absolute;
}

.text-in-container{
    max-width: 450px;
    position: relative;
    
}

.angle1::before{
    content: '';
    background: #fff;
    width: 10px;
    height: 2px;
    position: absolute;
    transform: rotate(90deg);
}

.angle1::after{
    content: '';
    background: #fff;
    width: 10px;
    height: 2px;
    position: absolute;
    transform: rotate(0deg);
    margin-top: -5px;
    margin-left: -4px;
}

.text-in-container h2, .text-in-container p, .text-in-container a{
    padding: 20px
}

.text-in-container h2{
    font-weight: 900;
    font-size: 3rem;
    text-transform: lowercase;
}

.text-in-container h2::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FBD284;
    top: 155px;
}

.text-in-container2{
    left: 200px;
}

.service-one, .service-two, .service-three{
    margin: 40px;
}

.service-one h2, .service-two h2, .service-three h2{
    padding: 20px 5px;
}

.service-one p, .service-two p, .service-three p{
    max-width: 260px;
    padding: 20px 0;
}

.header-service{
    color: #15264F;
    font-size: calc(1rem + 1vw);
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.backgorund-number{
    background: #15264F;
    border-radius: 50%;
    padding: 10px 15px;
    color: #fff;
    font-weight: 900;
}

.second-container a{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}

.services{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.contact{
    background-image: url('contact img.jpg');
    width: 100%;
    height: 35vh;
    background-position: center;
    background-size: cover;
}

.inner-text{
    text-align: center;
    background: #FFE9BE;
    max-width: 200px;
    padding: 20px 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(50%);
}

.contacts{
    width: 100%;
    height: 35vh;
    background-image: url('contact img.jpg');
    background-size: cover;
    background-position: center;
}

.footer i{
    margin: 10px;
    font-weight: 900;
}

.footer p{
    margin: 40px
}

.picture-of-service{
    width: 300px;
    height: 200px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #15264F;
}

@media screen and (max-width: 1010px){
    .show-menu-btn, .hide-menu-btn{
        display: block;
        float: right;
        transition: 500ms;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        padding: 80px 0;
        transition: 500ms;
        text-align: center;
        line-height: normal;
        background: #ffffff;
        z-index: 1;
    }

    .menu a{
        display: block;
        padding: 20px;
        color: #181818;
    }

    .hide-menu-btn{
        top: 50px;
        left: 50px;
        position: absolute;
    }

    #chk:checked ~ .menu{
        right: 0;
    }

    main{
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }

    .about-before{        
        display: inline-block;
        text-align: center;
        position: relative;
        margin-right: 50px;
        margin-left: 50px;
        left: 10%;
    }

    .item{
        padding: 10px;
    }

    .projects{
        display: inline-block;
        position: relative;
        height: 90vh;
        margin-top: 50px;
        transform: translateY(10%);
        margin-bottom: -150px;
    }

    .projects-items{
        padding: 40px;
        min-height: 80vh;
    }

    .text-projects, .projects-items{
        position: relative;
    }

    .text-projects{
        transform: translateY(10%);  
        left: 20px;      
    }

    .grid-about, .grid-about2{
        grid-template-columns: repeat(1, 1fr);
    }

    .image-of-me, .studio-image{
        display: none;
    }

    .text-in-container p{
       max-width: 600px;
        margin: auto;
        font-size: 1.1em;
        line-height: 30px;
    }

    .text-in-container{
        position: relative;
        max-width: 100%;
        left: 0;
        transform: translateY(-10%)
    }

    .text-in-container2{
        left: 0;
    }

    .first-container{
        margin-top: 100px;
    }

    .first-container::before{
        box-sizing: inherit;
        top: 0;
        left: 0;
    }

    .services{
        display: grid;
        column-fill: auto;
        justify-self: center;
        align-self: center;
    }

}

@media screen and (max-width: 500px){
    .about-before{
        display: block;
        left: -10%;
    }

    .about-before p{
        text-align: center;
    }

    .text-in-container1 p{
        margin: 0 auto;
        width: 100%;
        max-width: 100000em;
        
    }

}